{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/jquery1.42.min.js' %}"></script><script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
</head>

<script type="text/javascript" src="{% static 'js/DD_belatedPNG_0.0.8a.js' %}"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>

<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 {{ request.session.email }}<a href="/buyer/">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="/buyer/index/" class="logo"> <img src="{% static 'images/logob.png' %}" width="211" height="53" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="/buyer/index/">首页</a></li>
      <li><a href="/buyer/company_public_job/">招聘</a><i></i></li>
      <li><a href="/buyer/index/">每日要闻</a><i></i></li>
      <li><a href="/buyer/index/" rel="nofollow">金融社区</a></li>
    </ul>
      {% if  request.session.email %}
          <div id="ccclogin"  > <a href="/buyer/person_step1/" class="ccczc">个人</a> <a href="/buyer/logout/" class="cccdn">退出</a> </div>
      {% else %}
                    <div id="ccclogin"  > <a href="/buyer/register/" target="_blank" class="ccczc">注册</a> <a href="/buyer/login/" class="cccdn">登录</a> </div>
      {% endif %}
  </div>
</div>
<!-- end #header -->
{% block content %}

{% endblock %}
<!-- end #container -->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="/buyer/" target="_blank">关于金融妈<i></i></a> <a href="/buyer/" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="/buyer/" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
