{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
</head>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="#">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="" class="logo"> <img src="{% static 'images/logob.png' %}" width="256" height="63" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="#">首页</a></li>
      <li><a href="#" >招聘</a><i></i></li>
      <li><a href="#" target="_blank">每日要闻</a><i></i></li>
      <li><a href="#" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="#" target="_blank" class="ccczc">注册</a> <a href="#" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header -->

<div id="container">
  <div class="content_mid"> 
    <!--验证邮箱-->
    <h2><em></em>注册邮箱验证</h2>
    <dl class="c_section c_section_mid">
      <dt> </dt>
      <dd class="c_notice bb">
        <h4>验证邮箱，完成注册</h4>
        <div class="emailus"> 我们已将验证邮件发送至邮箱：<a href="#">11111111@qq.com</a> <br />
          点击邮件内的链接即可完成注册，并可使用金融妈所有功能。 </div>
        <div class="emailus">
          <input type="submit" id="submitLogin" value="登录验证邮箱" />
        </div>
      </dd>
      <div class="blueline"></div>
      <dd class="c_notice">
        <h5>没有收到验证邮件，怎么办？</h5>
        <div class="contacttip"> 邮箱填写错误？ <a href="#">换个邮箱</a> <br />
          看看是否在邮箱的垃圾邮件、广告邮件目录里<br />
          稍等几分钟，若还未收到验证邮件， <a href="javascript:void(0)" id="resend">重新发送验证邮件</a> </div>
      </dd>
    </dl>
  </div>
</div>
<!-- end #container -->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="#" target="_blank">关于金融妈<i></i></a> <a href="#" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="#" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
