{% extends "buyer/base.html" %}
{% load static %}
<!-- end #header -->
{% block content %}
<div id="container">
  <div class="content_mid">
    <!--验证邮箱-->
    <h2><em></em>注册邮箱验证</h2>
    <dl class="c_section c_section_mid">
      <dt> </dt>
      <dd class="c_notice bb">
        <h4>验证邮箱，完成注册</h4>
        <div class="emailus"> 我们已将验证邮件发送至邮箱：<a href="#">11111111@qq.com</a> <br />
          点击邮件内的链接即可完成注册，并可使用金融妈所有功能。 </div>
        <div class="emailus">
          <input type="submit" id="submitLogin" value="登录验证邮箱" />
        </div>
      </dd>
      <div class="blueline"></div>
      <dd class="c_notice">
        <h5>没有收到验证邮件，怎么办？</h5>
        <div class="contacttip"> 邮箱填写错误？ <a href="#">换个邮箱</a> <br />
          看看是否在邮箱的垃圾邮件、广告邮件目录里<br />
          稍等几分钟，若还未收到验证邮件， <a href="javascript:void(0)" id="resend">重新发送验证邮件</a> </div>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}

