{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/jquery1.42.min.js' %}"></script><script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
</head>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->

<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="/buyer/">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="/buyer/index/" class="logo"> <img src="{% static 'images/logob.png' %}" width="211" height="53" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="/buyer/index/">首页</a></li>
      <li><a href="/buyer/company_public_job/">招聘</a><i></i></li>
      <li><a href="/buyer/index/">每日要闻</a><i></i></li>
      <li><a href="/buyer/index/" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="/buyer/register/" target="_blank" class="ccczc">注册</a> <a href="/buyer/login/" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header -->

<div class="ccc_container" style="overflow:hidden; background-color:transparent; margin-bottom:40px;">
  <div class="leftsidebar">
    <div id="zwmenu">
      <h2><i></i>职位类别</h2>
      <ul id="cccnav">
        <li id="mainCate-1" class="mainCate evenLeval">
          <h3><span>&gt;</span><a href="/buyer/">一级菜单名字</a></h3>
          <p><a href="/buyer/">茅台</a><a href="/buyer/">五粮液</a><a href="/buyer/">国窖1573</a> <a href="/buyer/">酱香型</a><a href="/buyer/">浓香型</a><a href="/buyer/">贵州</a><a href="/buyer/">四川</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
        <li id="mainCate-2" class="mainCate">
          <h3><span>&gt;</span><a href="/buyer/">葡萄酒</a></h3>
          <p><a href="/buyer/">法国</a><a href="/buyer/">德国</a><a href="/buyer/">意大利</a><a href="/buyer/">西班牙</a> <a href="/buyer/">赤霞珠</a><a href="/buyer/">梅鹿辄</a><a href="/buyer/">西拉</a><a href="/buyer/">霞多丽</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
        <li id="mainCate-3" class="mainCate evenLeval">
          <h3><span>&gt;</span><a href="/buyer/">洋酒</a></h3>
          <p><a href="/buyer/">白兰地</a><a href="/buyer/">威士忌</a><a href="/buyer/">伏特加</a><a href="/buyer/">金酒</a> <a href="/buyer/">人头马</a><a href="/buyer/">芝华士</a><a href="/buyer/">马爹利</a><a href="/buyer/">深蓝</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
        <li id="mainCate-4" class="mainCate">
          <h3><span>&gt;</span><a href="/buyer/">啤酒</a></h3>
          <p><a href="/buyer/">弗伦斯堡</a><a href="/buyer/">哈尔博</a><a href="/buyer/">喜力</a><a href="/buyer/">海特</a> <a href="/buyer/">青岛啤酒</a><a href="/buyer/">百威</a><a href="/buyer/">雪花</a><a href="/buyer/">德国</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
        <li id="mainCate-5" class="mainCate evenLeval">
          <h3><span>&gt;</span><a href="/buyer/">保健酒/</a><a href="/buyer/">黄酒</a></h3>
          <p><a href="/buyer/">青梅</a><a href="/buyer/">竹叶青</a><a href="/buyer/">劲牌</a><a href="/buyer/">椰岛</a> <a href="/buyer/">宁夏红</a><a href="/buyer/">唐宋</a><a href="/buyer/">即墨</a><a href="/buyer/">会稽山</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
        <li id="mainCate-6" class="mainCate">
          <h3><span>&gt;</span><a href="/buyer/">酒具</a></h3>
          <p><a href="/buyer/">酒柜</a><a href="/buyer/">酒器</a><a href="/buyer/">越海酒柜</a><a href="/buyer/">新朝</a></p>
          <div class="clear"></div>
          <div class="subCate">
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
            <dl class="reset">
              <dt> <a href="/buyer/"> 后端开发 </a> </dt>
              <dd><a href="/buyer/">3级菜单名字</a><a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> <a href="/buyer/">3级菜单名字</a> </dd>
            </dl>
          </div>
        </li>
      </ul>
      <script type="text/javascript">
		jQuery("#cccnav").slide({ 
				type:"menu", //效果类型
				titCell:".mainCate", // 鼠标触发对象
				targetCell:".subCate", // 效果对象，必须被titCell包含
				delayTime:0, // 效果时间
				triggerTime:0, //鼠标延迟触发时间
				defaultPlay:false,//默认执行
				returnDefault:true//返回默认
			});
	</script> 
    </div>
    <div class="cccdinggou"> <a href="/buyer/">订阅职位</a> </div>
    <div class="cccadvpic"> <a href="/buyer/"><img src="{% static 'images/cccadvpic.jpg' %}" width="220" height="105" /></a> <a href="/buyer/"><img src="{% static 'images/cccadvpic2.jpg' %}" width="220" height="105" /></a> </div>
  </div>
  <div class="rightcontent">
    <div class="indexsearch_box">
      <ul id="cccsearchType">
        <li class="type_selected">职位</li>
        <li style="display: none;">公司</li>
      </ul>
      <div class="searchtype_arrow"></div>
      <input type="text" placeholder="请输入职位名称，如：产品经理" value="" tabindex="1" name="kd" id="cccsearch_input" class="ui-autocomplete-input" autocomplete="off">
      <input type="submit" value="搜索" id="cccsearch_button">
    </div>
    <dl class="ccchotSearch">
      <dt>热门搜索：</dt>
      <dd><a href="/buyer/">金融经理</a><a href="/buyer/">金融经理</a><a href="/buyer/">金融经理</a><a href="/buyer/">金融经理</a><a href="/buyer/">金融经理</a></dd>
    </dl>
    <div id="homebanner">
      <div class="cccfoucebox" style="margin:0 auto">
        <div class="bd">
          <ul>
            <li><a href="/buyer/"><img src="{% static 'images/homebanner/1.jpg' %}"  /></a></li>
            <li><a href="/buyer/"><img  src="{% static 'images/homebanner/2.jpg' %}"></a></li>
            <li><a href="/buyer/"><img  src="{% static 'images/homebanner/3.jpg' %}"></a></li>
          </ul>
        </div>
        <div class="hd">
          <div  class="hoverBg" ></div>
          <ul>
            <li><a href="/buyer/"><img  src="{% static 'images/homebanner/0.1.jpg' %}"></a></li>
            <li><a href="/buyer/"><img  src="{% static 'images/homebanner/0.2.jpg' %}"></a></li>
            <li><a href="/buyer/"><img  src="{% static 'images/homebanner/0.3.jpg' %}"></a></li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">

		jQuery(".cccfoucebox").slide({ mainCell:".bd ul", effect:"fold", autoPlay:true, delayTime:300, triggerTime:50, startFun:function(i){
				//下面代码控制鼠标状态滑动
				jQuery(".cccfoucebox .hoverBg").animate({"margin-top":84*i},150);
			}
		});

	</script> 
    </div>
    <div id="ccc_companylogo">
      <ul>
        <li><a href="/buyer/"><img src="{% static 'images/comlogo.jpg' %}"  /></a></li>
        <li><a href="/buyer/"><img src="{% static 'images/comlogo2.jpg' %}"  /></a></li>
        <li><a href="/buyer/"><img src="{% static 'images/comlogo3.jpg' %}"  /></a></li>
        <li><a href="/buyer/"><img src="{% static 'images/comlogo4.jpg' %}"  /></a></li>
        <li class="last"><a href="/buyer/"><img src="{% static 'images/comlogo5.jpg' %}"  /></a></li>
      </ul>
    </div>
    <div class="cccslideTxtBox">
      <div class="hd">
        <ul>
          <li>热门职位</li>
          <li>最新职位</li>
        </ul>
      </div>
      <div class="bd">
        <ul>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
        </ul>
        <ul>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
          <li class="clearfix">
            <div class="hot_pos_l">
              <div class="mb10"> <a href="/buyer/">网页设计师</a> &nbsp; <span class="c9">[成都]</span> </div>
              <span><em class="c7">月薪： </em>4k-7k</span> <span><em class="c7">经验：</em> 不限</span> <span><em class="c7">最低学历： </em>大专</span> <br>
              <span><em class="c7">职位诱惑：</em>双休、工作餐、加班少、五险一金</span> <br>
              <span><em class="c7">发布时间：</em>2014-07-08</span> 
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
              <!-- <a href="/buyer/" class="wb">分享到微博</a> --> 
            </div>
            <div class="hot_pos_r">
              <div class="mb10 recompany"><a  href="/buyer/">品胜电子</a></div>
              <span><em class="c7">领域：</em> O2O</span> <span><em class="c7">创始人：</em>赵国成</span> <br>
              <span><em class="c7">阶段：</em> 成熟型(D轮及以上)</span> <span><em class="c7">规模：</em>2000人以上</span>
              <span><em class="c7">部门：</em>人事部</span>
              <ul class="companyTags reset">
                <li>五险一金</li>
                <li>带薪年假</li>
                <li>节日礼物</li>
              </ul>
            </div>
            <div class="recommend"></div>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">jQuery(".cccslideTxtBox").slide();</script> 
  </div>
</div>
<!-- end #container -->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="/buyer/" target="_blank">关于金融妈<i></i></a> <a href="/buyer/" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="/buyer/" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
