{% extends 'buyer/base.html' %}
{% load static %}

{% block content %}
<!--左右布局结构开始-->
<div class="c_personset">
  <div class="c_personset_1 fl">
    <div class="guidetitle"><span>个人信息</span></div>
    <div class="c_pprofile gerenxinxi">
      <dl class="mybasic">
        <dd>
          <form id="profileForm">
            <table>
              <tr>
                <td width="19" valign="top"><span class="redstar">*</span></td>
                <td width="194"><input type="text" id="name" name="name" placeholder="昵称" /></td>
                <td width="19" valign="top"></td>
                <td width="228"><ul class="profile_radio cccclearfix cccreset">
                    <li> <a href="#" class="sex">男</a> </li>
                    <li > <a href="#" class="current sex">女</a> </li>
                    <input type="hidden" name="sex" value="女" id="sex">
                  </ul></td>
              </tr>
              <tr>
                <td valign="top"><span class="redstar">*</span></td>
                <td colspan="3"><div class="cccfl" >
                    <select name="province" class="profile_select_133 profile_select_normal" id="select_topDegree" value="请选择">
                        <option value="四川">四川</option>
                        <option value="北京">北京</option>
                        <option value="黑龙江">黑龙江</option>
                        <option value="内蒙古">内蒙古</option>
                        <option value="广西">广西</option>
                    </select>
{#                    <input type="button" class="profile_select_133 profile_select_normal" id="select_topDegree" value="请选择"  />#}
                  </div>
                  <div  class="cccfl" >
                      <select name="province" class="profile_select_133 profile_select_normal" id="select_topDegree" value="城市">
                        <option value="四川">四川</option>
                        <option value="北京">北京</option>
                        <option value="黑龙江">黑龙江</option>
                        <option value="内蒙古">内蒙古</option>
                        <option value="广西">广西</option>
                    </select>
                  </div>
                   <div  class="cccfl" >
                      <select name="province" class="profile_select_133 profile_select_normal" id="select_topDegree" value="区域">
                        <option value="四川">四川</option>
                        <option value="北京">北京</option>
                        <option value="黑龙江">黑龙江</option>
                        <option value="内蒙古">内蒙古</option>
                        <option value="广西">广西</option>
                    </select>
                  </div>
                    <div>
                    <strong></strong></div>
                  <div class="clear"></div></td>
              </tr>
              <tr>
                <td valign="top"><span class="redstar">*</span></td>
                <td colspan="3"><div class="jobSearch"><a href="#" class="current">是否找工作</a></div>
                    <div class="Jobinformation">
                      <table>
                        <tr>
                          <td valign="top"><span class="redstar">*</span></td>
                          <td colspan="3"><input type="text" placeholder="姓名" id="" name="username"></td>
                        </tr>
                        <tr>
                          <td valign="top"><span class="redstar">*</span></td>
                          <td>
                              <select name="topDegree" id="select_topDegree" class="profile_select_190 profile_select_normal">
                              <option value="大专">大专</option>
                              <option value="本科">本科</option>
                              <option value="硕士">硕士</option>
                              <option value="博士">博士</option>
                              <option value="其他">其他</option>
                              </select>
                        </td>
                          <td valign="top"><span class="redstar">*</span></td>
                          <td><input type="hidden" id="workyear" value="" name="workyear">
                              <select name="workyear" id="select_workyear" class="profile_select_190 profile_select_normal">
                              <option value="应届毕业生">应届毕业生</option>
                                <option value="1-3年">1-3年</option>
                                <option value="3-5年">3-5年</option>
                                <option value="5-10年">5-10年</option>
                               <option value="10年以上">10年以上</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                          <td valign="top"><span class="redstar">*</span></td>
                          <td colspan="3"><input type="text" placeholder="手机号码" id="tel" name="tel"></td>
                        </tr>
                        <tr>
                          <td valign="top"><span class="redstar">*</span></td>
                          <td colspan="3"><input type="text" placeholder="邮箱（接收工作订阅消息）" id="email" name="email"></td>
                        </tr>
                      </table>
                    </div>
                  </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3"><input type="submit" id=""  value="保 存" class="cccbtn50" /></td>
              </tr>
            </table>
          </form>
          <!--end #profileForm-->
          <div class="new_portrait">
            <div id="portraitNo" class="portrait_upload"> <span>上传自己的头像</span> </div>
            <div  id="portraitShow" class="portraitShow dn"> <img src="" alt="" width="120" height="120" /> <span>更换头像</span> </div>
            <input type="file" class="myfiles" id="headPic" name="headPic" onchange="img_check(this,'http://www.lagou.com/resume/uploadPhoto.json','headPic');" title="支持jpg、jpeg、gif、png格式，文件小于5M" value="" />
            <!-- <input type="hidden" id="headPicHidden" /> -->
            <em> 尺寸：120*120px <br />
            大小：小于5M </em> <span class="error" id="headPic_error" style="display:none;"></span> </div>
          <!--end .new_portrait-->
          <input type="hidden" value="0" id="pageType" />
        </dd>
      </dl>
    </div>
  </div>
  <!--左边框部分结束-->
  <div class="c_personset_r fr">
    <div class="c_choose">
      <h2>选择金融妈的<span>理由</span></h2>
      <div class="c_chooseinfo">
        <p>选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由</p>
        <p>选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!--右边结束-->
</div>
    <script type="text/javascript">
    $(".sex").click(
        function () {
            $(".sex").removeClass("current");
            $(this).addClass("current");
            if ($(this).text()==='男'){
                $("#sex").val("男");
            }else {
                $("#sex").val("女");
            }
        }
    )
    </script>
{% endblock %}

