{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript"  src="{% static 'js/Chart.js' %}"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="#">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="" class="logo"> <img src="{% static 'images/logob.png' %}" width="256" height="63" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="#">首页</a></li>
      <li><a href="#" >招聘</a><i></i></li>
      <li><a href="#" target="_blank">每日要闻</a><i></i></li>
      <li><a href="#" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="#" target="_blank" class="ccczc">注册</a> <a href="#" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header --> 

<!--左右布局结构开始-->
<div class="c_personset">
  <div class="c_personset_1 fl">
    <div class="guidetitle"><span>社交信息</span></div>
    <div class="myresume">
      <div class="ccc_collections">
        <form id="collectionsForm">
          <ul class="reset my_collections">
            <li> <a title="九正科技" target="_blank" href="#"> <img src="{% static 'images/logo_default.jpg' %}" width="66" height="66" /> </a>
              <div class="co_item">
                <h2 title="网页设计师"> <a target="_blank" href="#"> <em>网页设计师</em> <span>（3k-6k）</span> </a> </h2>
                <span class="co_time">发布时间：2014-06-20 09:30</span>
                <div class="co_cate">九正科技 / 成都 / 不限 / 大专</div>
                <span class="co_youhuo c7">旅游+年终+晋升+伯乐奖</span> <a class="collection_link" target="_blank" href="#">投个简历</a> <i></i> <a class="collectionCancel collection_link collected" href="#"> 取消收藏 <span>已取消收藏</span> </a> </div>
            </li>
             <li> <a title="九正科技" target="_blank" href="#"> <img src="{% static 'images/logo_default.jpg' %}" width="66" height="66" /> </a>
              <div class="co_item">
                <h2 title="网页设计师"> <a target="_blank" href="#"> <em>网页设计师</em> <span>（3k-6k）</span> </a> </h2>
                <span class="co_time">发布时间：2014-06-20 09:30</span>
                <div class="co_cate">九正科技 / 成都 / 不限 / 大专</div>
                <span class="co_youhuo c7">旅游+年终+晋升+伯乐奖</span> <a class="collection_link" target="_blank" href="#">投个简历</a> <i></i> <a class="collectionCancel collection_link collected" href="#"> 取消收藏 <span>已取消收藏</span> </a> </div>
            </li>
             
             
          </ul>
        </form>
      </div>
    </div>
    <!--招聘信息结束--> 
    
  </div>
  
  <!--左边框部分结束--> <!--右边框部分开始-->
  <div class="c_personset_r fr"> 
    <!--我的信息-->
    <div class="mycenterR" id="myInfo">
      <h2>我的信息</h2>
      <a target="_blank" href="#" >我收藏的职位</a> <a target="_blank" href="#">我的职位推荐</a> <a target="_blank" href="#">我订阅的职位</a> </div>
    
    <!--可能适合的职位-->
    <div class="mycenterR" id="myRecommend">
      <h2>可能适合你的职位 <i>匹配度</i></h2>
      <ul class="reset">
        <li> <a target="_blank" href="#"> <span class="f16">视觉设计师</span> <span class="c7">成都美洽</span> <em>90%</em> </a> </li>
        <li> <a target="_blank" href="#"> <span class="f16">UI设计师</span> <span class="c7">梦启科技</span> <em>88%</em> </a> </li>
      </ul>
      <a target="_blank" class="more" href="#">更多推荐职位&gt;&gt;</a> </div>
  </div>
  <div class="clear"></div>
  <!--右边结束--> 
  
</div>
<!-- end #container --> 

<!--版权信息-->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="#" target="_blank">关于金融妈<i></i></a> <a href="#" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="#" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
