{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="#">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="" class="logo"> <img src="{% static 'images/logob.png' %}" width="256" height="63" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="#">首页</a></li>
      <li><a href="#" >招聘</a><i></i></li>
      <li><a href="#" target="_blank">每日要闻</a><i></i></li>
      <li><a href="#" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="#" target="_blank" class="ccczc">注册</a> <a href="#" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header --> 

<!--左右布局结构开始-->
<div class="c_personset">
  <div class="c_personset_1 fl">
    <div class="guidetitle"><span>社交信息</span></div>
    <div class="c_pprofile">
      <div class="c_pbox tagbox">
        <h2>设置个人标签</h2>
        <span>请选择活手工输入你的个人标签，每个人最多可以拥有<em>8</em>个个人标签，已选择<em>7</em>个</span>
        <div class="biaoqian">
          <dl>
            <dt >标签：</dt>
            <dd class="xianshi"> <a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a><a href="#">标签标签1</a> </dd>
          </dl>
          <dl>
            <dt>个人标签：</dt>
            <dd>
              <div class="shezhi">
                <div class="c_taglist"> <a href="#">标签标签<i href="#"></i></a><a href="#">标签标签<i href="#"></i></a><a href="#">标签标签<i href="#"></i></a><a href="#">标签标签<i href="#"></i></a><a href="#">标签标签<i href="#"></i></a><a href="#">标签标签<i href="#"></i></a> </div>
                <div class="tagshuru">
                  <input type="text"  value="按回车添加标签，多个标签用逗号分隔" >
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="c_pprofile">
      <div class="c_pbox tagbox">
        <h2>感兴趣的人</h2>
        <span>和你有相同标签的人</span>
        <div class="sametag">
          <ul>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
            <li>
              <div class="sametag_pic">
                <input name="" type="checkbox" value="" checked="checked" />
                <img src="{% static 'images/userpic95.jpg' %}" width="95" height="95" /> </div>
              <p>用户名字</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c_pprofile quanxuan">
      <input name="" type="checkbox" value="" checked="checked" />
      全选</div>
    <div class="c_pprofile c_pbtnbox cccmb20">
      <input name="" type="button" class="cccbtn50_2" value="上一步"/>
      <input name="" type="button" class="cccbtn50" value="保存"/>
      <a href="#">跳过>></a></div>
  </div>
  <!--左边框部分结束-->
  <div class="c_personset_r fr">
    <div class="c_choose">
      <h2>选择金融妈的<span>理由</span></h2>
      <div class="c_chooseinfo">
        <p>选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由</p>
        <p>选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由选择金融妈的理由</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!--右边结束--> 
  
</div>
<!-- end #container --> 

<!--版权信息-->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="#" target="_blank">关于金融妈<i></i></a> <a href="#" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="#" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
