{% extends 'buyer/base.html' %}
{% load static %}
{% block content %}


<!--左右布局结构开始-->
<div class="c_personset">
  <div class="c_personset_1 fl">
    <div class="guidetitle"><span>社交信息</span></div>
    <div class="myresume">
      <div class="ccc_collections">
        <form id="collectionsForm">
          <ul class="reset my_collections">
            <li> <a title="九正科技" target="_blank" href="#"> <img src="{% static 'images/logo_default.jpg' %}" width="66" height="66" /> </a>
              <div class="co_item">
                <h2 title="网页设计师"> <a target="_blank" href="#"> <em>网页设计师</em> <span>（3k-6k）</span> </a> </h2>
                <span class="co_time">发布时间：2014-06-20 09:30</span>
                <div class="co_cate">九正科技 / 成都 / 不限 / 大专</div>
                <span class="co_youhuo c7">旅游+年终+晋升+伯乐奖</span> <a class="collection_link" target="_blank" href="#">投个简历</a> <i></i> <a class="collectionCancel collection_link collected" href="#"> 取消收藏 <span>已取消收藏</span> </a> </div>
            </li>
             <li> <a title="九正科技" target="_blank" href="#"> <img src="{% static 'images/logo_default.jpg' %}" width="66" height="66" /> </a>
              <div class="co_item">
                <h2 title="网页设计师"> <a target="_blank" href="#"> <em>网页设计师</em> <span>（3k-6k）</span> </a> </h2>
                <span class="co_time">发布时间：2014-06-20 09:30</span>
                <div class="co_cate">九正科技 / 成都 / 不限 / 大专</div>
                <span class="co_youhuo c7">旅游+年终+晋升+伯乐奖</span> <a class="collection_link" target="_blank" href="#">投个简历</a> <i></i> <a class="collectionCancel collection_link collected" href="#"> 取消收藏 <span>已取消收藏</span> </a> </div>
            </li>
             
             
          </ul>
        </form>
      </div>
    </div>
    <!--招聘信息结束--> 
    
  </div>
  
  <!--左边框部分结束--> <!--右边框部分开始-->
  <div class="c_personset_r fr"> 
    <!--我的信息-->
    <div class="mycenterR" id="myInfo">
      <h2>我的信息</h2>
      <a target="_blank" href="#" >我收藏的职位</a> <a target="_blank" href="#">我的职位推荐</a> <a target="_blank" href="#">我订阅的职位</a> </div>
    
    <!--可能适合的职位-->
    <div class="mycenterR" id="myRecommend">
      <h2>可能适合你的职位 <i>匹配度</i></h2>
      <ul class="reset">
        <li> <a target="_blank" href="#"> <span class="f16">视觉设计师</span> <span class="c7">成都美洽</span> <em>90%</em> </a> </li>
        <li> <a target="_blank" href="#"> <span class="f16">UI设计师</span> <span class="c7">梦启科技</span> <em>88%</em> </a> </li>
      </ul>
      <a target="_blank" class="more" href="#">更多推荐职位&gt;&gt;</a> </div>
  </div>
  <div class="clear"></div>
  <!--右边结束-->
</div>
{% endblock %}