{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
</head>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="#">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="" class="logo"> <img src="{% static 'images/logob.png' %}" width="256" height="63" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="#">首页</a></li>
      <li><a href="#" >招聘</a><i></i></li>
      <li><a href="#" target="_blank">每日要闻</a><i></i></li>
      <li><a href="#" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="#" target="_blank" class="ccczc">注册</a> <a href="#" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header -->

<div id="container">
  <div class="content_mid"> 
    <!--企业基本信息-->
    <h2><em></em>企业基本信息</h2>
    <div class="email_search_results" >
      <h3>
      根据你填写的邮箱<a href="#">(返回修改邮箱)</a>，请选择你要招聘的公司名称：
      </h2>
      <ul class="com_search_results">
        <li> <i class="selected"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
        <li> <i class="selected dn"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
        <li> <i class="selected dn"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
      </ul>
    </div>
    <div class="name_search_result">
      <div class="name_search_box">
        <div class="fl">
          <input name="" type="text" />
        </div>
        <div class="fl">
          <input name="" type="button" value="查找" />
        </div>
        <div class="clear"></div>
      </div>
      <ul class="com_search_results">
        <li> <i class="selected"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
        <li> <i class="selected dn"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
        <li> <i class="selected dn"></i> <a href="#">使用这个公司名称和信息</a>
          <div class="companname"><span>400个职位</span>四川万德互联网信息服务有限公司 </div>
        </li>
      </ul>
      <div id="Createcompany"> <a href="#"> 未找到相关企业，是否创建  XXXXX 公司？ </a> </div>
    </div>
     <div class="cccbindSubmit">
     <input name="" type="button" class="cccbtn50_2"  value="上一步"/> <input name="" type="button" class="cccbtn50"  value="确定"/>
     
     </div>
  </div>
</div>
<!-- end #container -->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="#" target="_blank">关于金融妈<i></i></a> <a href="#" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="#" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
