{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{% static 'css/stylecc.css' %}" rel="stylesheet" type="text/css" />
</head>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
<body>
<div id="cccheader">
  <div class="ccchuany">
    <p>你好 ，xxxxxx@163.com <a href="#">帮助</a></p>
  </div>
  <div class="cccwrapper"> <a href="" class="logo"> <img src="{% static 'images/logob.png' %}" width="256" height="63" alt="金融妈 jinrongma.com" /> </a>
    <ul class="cccreset" id="navcccheader">
      <li><a href="#">首页</a></li>
      <li><a href="#" >招聘</a><i></i></li>
      <li><a href="#" target="_blank">每日要闻</a><i></i></li>
      <li><a href="#" rel="nofollow">金融社区</a></li>
    </ul>
    <div id="ccclogin"  > <a href="#" target="_blank" class="ccczc">注册</a> <a href="#" class="cccdn">登录</a> </div>
  </div>
</div>
<!-- end #header -->

<div id="container">
  <div class="content_mid"> 
    <!--创建新公司-->
    <h2><em></em>填写公司信息</h2>
    <div class="Create_newcompany">
      <form class="stepForm" id="stepForm02">
        <div class="ccc_text_1">简短明了的标签信息让求职者更加方便检索，更快找到你们！</div>
        <div class="ccc_pic_1"><img src="{% static 'images/step2.png' %}" width="795" height="58" /></div>
        <div class="ccc_box_720">
          <h3>已添加的标签</h3>
          <ul id="ccclabels">
            <li><i ></i>年终分红</li>
            <li><i ></i>年终分红</li>
            <li><i ></i>年终分红</li>
            <li><i ></i>年终分红</li>
            <li><i ></i>年终分红</li>
            <li><i ></i>年终分红</li>
          </ul>
          <input type="text" placeholder="请输入公司简称，如:金融妈" value="" >
          <input type="submit" value="贴上" id="cccadd_label">
          <div class="clear"></div>
          <div id="cccbox_labels">
            <dl>
              <dt>薪酬激励</dt>
              <dd>
                <ul>
                  <li class="selected">年终分红</li>
                  <li class="selected">绩效奖金</li>
                  <li>股票期权</li>
                  <li>专项奖金</li>
                  <li>年底双薪</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>员工福利</dt>
              <dd>
                <ul >
                  <li class="selected">五险一金</li>
                  <li>通讯津贴</li>
                  <li>交通补助</li>
                  <li>带薪年假</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>员工关怀</dt>
              <dd>
                <ul>
                  <li>免费班车</li>
                  <li>节日礼物</li>
                  <li>年度旅游</li>
                  <li>弹性工作</li>
                  <li>定期体检</li>
                  <li>午餐补助</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>其他</dt>
              <dd>
                <ul>
                  <li>岗位晋升</li>
                  <li>技能培训</li>
                  <li>管理规范</li>
                  <li>扁平管理</li>
                  <li>领导好</li>
                  <li>美女多</li>
                  <li>帅哥多</li>
                </ul>
              </dd>
            </dl>
          </div>
         <input type="submit" value="保存，下一步"  class="cccbtn60 cccfr" id="cccstepbtn">
          <input type="submit" value="上一步"  class="cccfr" id="cccpreviousbtn">
           <div class="clear"></div>
          <a class="cccbtn_cancel cccfr" href="#">跳过</a>
          <div class="clear"></div>
        </div>
      </form>
    </div>
    <!--创建公司第一步结束--> 
    
  </div>
</div>
<!-- end #container -->
<div id="cccfooter">
  <div class="cccwrapper">
    <div class="ccccopyright">Copyright © 2014-2015 jinrongma.com All Rights Reserved　金融妈</div>
    <a href="#" target="_blank">关于金融妈<i></i></a> <a href="#" target="_blank" rel="nofollow">联系我们<i></i></a> <a href="#" target="_blank" rel="nofollow">伯东与千里马</a> </div>
</div>
</body>
</html>
